#plateau, #control {
  margin: 0 auto;
}

#plateau td {
  width: 90px !important;
  height: 90px;
}

.control {
  margin: 0 auto;
}
.control td {
  width: 45px !important;
  height: 40px  !important;
}