#plateau, #control {
  margin: 0 auto;
}

#plateau td {
  width: 90px !important;
  height: 90px;
}

.dashboard {
  border: 1px solid #eeeeee;
  padding: 20px;
  width: 540px !important;
}

.control {
  float: left;
  margin: 0 50px;
}
.control td {
  width: 45px !important;
  height: 40px  !important;
}