
<table id="plateau" class="table-bordered table-condensed">
  <tr ng-repeat="y in [5, 4, 3, 2, 1, 0]">
    <td id="c{{x}}-{{y}}" ng-repeat="x in [0, 1, 2, 3, 4, 5]" class="text-center">
      <div ng-show="home.activeCell(rover, x, y)" class="glyphicon {{rover.direction.arrow}}" ng-repeat="rover in home.rovers">
        {{rover.name}}
      </div>
    </td>
  </tr>
</table>

<hr />

<div class="container dashboard">
  <table class="control pull-left" ng-repeat="rover in home.rovers">
    <tr>
      <td colspan="3">{{rover.name}} {{rover.x}}, {{rover.y}}, {{rover.direction.name}}</td>
    </tr>
    <tr>
      <td><button class="btn btn-default" ng-click="home.control(rover, 'L')"><i class="glyphicon glyphicon-arrow-left"></i></button></td>
      <td><button class="btn btn-default" while-pressed="home.control(rover, 'M')"><i class="glyphicon {{rover.direction.arrow}}"></i></button></td>
      <td><button class="btn btn-default" ng-click="home.control(rover, 'R')"><i class="glyphicon glyphicon-arrow-right"></i></button></td>
    </tr>
    <td colspan="3" class="text-center">Deploy!</td>
    <tr>
      <td></td>
      <td>
        <button id="{{rover.name}}" class="btn btn-default" ng-click="home.deploy(rover)"><i class="glyphicon glyphicon-send"></i></button>
      </td>
      <td></td>
    </tr>
  </table>
</div>